@()

@main("Welcome to SJSU VSA") { <!-- <body>-->
<div class="navbar">
  <a href="homepage.html">Home</a>
  <a href="#">Events</a>
  <a href="#">Meet the Officers</a>
  <a href="#">Contact</a>
</div>

<div class="bgimg-1" style="margin-top: 50px">
  <div class="caption">
    <span class ="border">Welcome to SJSU VSA</span>
  </div>
</div>

<div class="lighter-block">
  <h3 style="text-align:center;">SJSU VSA</h3>
  <p>Welcome to the website for San Jose State University's Vietnamese Student Association.
    We are a club on campus that allows students to surround themselves with others that are interested
    in the Vietnamese culture. We have 4 pillars that are Academic, Community, Cultural, and Social that area
    fulfilled by the plethora of activities and projects that we plan for our fellow club members.</p>
</div>

<div class="bgimg-2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">VSA Olympics</span>
  </div>
</div>

<div style="position:relative;">
  <div class="dark-block">
    <p style="text-align:center;">Join VSA to make friends, immerse yourself in the Vietnamese culture, and volunteer with us
      to strengthen and support the Vietnamese community!</p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    <!-- OPTIONAL CAPTION, but Black April banner already speaks for picture -->
  </div>
</div>

<div class="lighter-block">
  <h3 style="text-align:center;">Come Join Us!</h3>
  <p style="text-align:center;">General Meetings are Thursdays at 5:30PM in Baccardo Business Complex 004</p>
</div>
}<!-- </body>-->
